/*******************************************************************************
 *
 * Nom : bases.css
 * Date et auteur :
 *		Créé le 15/11/2023
 *
 * Description :
 *		Fichier CSS du site web "basesCSS.html"
 *
 *******************************************************************************/
 * {
    box-sizing: border-box;
  }

	

	body{
		font-style: sans-serif;
		line-height: 1.5em;
	}

	header{
		background-color: rgb(95, 94, 94);
		text-align: center;
		color: #ffffff;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	footer{
		background-color: darkgray;
		color: #ffffff;
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	section{
		margin: 10px
	}

	article{
		border-style: dotted;
		border-width: 2px;
		border-color: gray;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	p{
		margin: 10px;
	}

	h1{
		color: red;
		text-align: center;
		font-size: 2em;
		font-variant-caps: small-caps;
	}

	h2{
		padding: 10px;
		background-color: red;
		border-left: 50px solid black;
		text-transform: capitalize;
	}

   #info{
		width: 600px;
		background-color: maroon;
		color: white;
		border-radius: 10px;
		
		text-align: center;
		font-size: 1.2em;
		line-height: 2em;

		padding: 10px;
		margin: auto;
		

   }