﻿/*******************************************************************************
 *
 * Nom : meteo.css
 * Date et auteur :
 *		Créé le 30/09/2023
 *
 * Description :
 *		Fichier CSS du site web "meteo"
 *
 *******************************************************************************/


* {
  box-sizing: border-box;
}
 

body{
	font-family: Arial,Helvetica,sans-serif;
	background: url(images/bg_body.jpg) top left no-repeat;
}


header{
	margin: 5px;
	padding: 20px;
	background-color: #1abc9c;
	color: white;
	border-radius: 4px;
	font-size: 30px;
	text-align: center;
}

/* Conteneur pour flexbox */
div.contenu {
	display: flex;
}

nav{
	flex: 25%;
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 5px;
}

nav a {
  color: black;
  background-color: #a0f0c0;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}

nav a:hover {
  background-color: #175;
  color: white;
}

nav a.clic{
  background-color: #175;
  color: white;
}

article{
	flex: 75%;
	padding: 10px;
	margin: 5px;
	background-color:#e4f8f0;
	border-radius: 4px;
}

footer{
	margin: 5px;
	padding: 20px;
	background-color: #E0F0E0;
	font-size: 15px;
	text-align: center;
}

/* Responsive layout */
@media (max-width: 600px) {
  div.contenu {
    flex-direction: column;
  }
  nav, article{
	  flex: 100%;
  }
}

#iframe_css {
	text-align: center;
}

table, th, td {
    border: 1px solid black;
}

p{text-align: justify;}

h1{font-size: 26px;}
